:root {
    --primary-color: #b0b1b5;
    --secondary-color: #4a4b4f;
    --tertiary-color: #8C624D;
}

* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

body {
    color: var(--secondary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header start */

header {
    padding: 20px 35px;
    background-image: url("../images/jordanHankison.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: 2px -3px 4px rgba(74, 75, 79, .75);
}

header nav {
    margin: 15px 0;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 30px;
}
/* header end */

/* footer */
footer {
    background: var(--tertiary-color);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


footer img {
    width: 100px;
    margin: 0 auto;
    padding: 15px 0;
}
footer h2{
    text-align: center;
    color: var(--primary-color);
    padding: auto 0 auto 20px;
}
/* end footer */

.hero {
    background-image: url("../images/jordanHankison.jpg");
    background-size: cover;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-attachment: fixed;
    padding: 25vh 0;
    text-align: center;
}

.about-me {
    width: 35%;
    margin: 4%;
}

.about-me h2 {
    border-bottom: 2px solid var(--secondary-color);
    font-size: 40px;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 40%;
}

.about-me p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 2;
}

.section-title {
    font-size: 50px;
    text-align: center;
    margin: 15px 0 8px 0;
    color: var(--secondary-color);
    width: 80%;
    padding: 20px;
    text-shadow: 2px -3px 4px rgba(74, 75, 79, .75);
}

.portfolio {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 4px solid var(--secondary-color);
    border-top: 4px solid var(--secondary-color);
}

.project {
    margin: 20px;
    color: var(--secondary-color);
    width: 25%;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
}
.project a {
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: 2px -3px 4px rgba(74, 75, 79, .75);
}
.project img {
    border-radius: 30px;
    border: 4px solid var(--secondary-color);
}

#capstoneProject {
    width: 80%;
    /* margin: 0; */
}

#capstoneProject a {
    text-align: center;
    font-size: 30px;
}

#capstoneProject img {
    width: 100%;
}

.contact-info {
    background-color: var(--tertiary-color);
    padding-bottom: 50px;
}

.contact-info h3 {
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 15px 0 10px 0;
    border-bottom: 2px solid var(--secondary-color);
    width: 100%;
    -webkit-text-stroke: 2px var(--secondary-color);
}

.contact-elements {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
    justify-content: center;
}

.contact-element {
    padding: 0 3%;
}

.contact-element:not(:last-child) {
    border-right: 2px solid var(--secondary-color);
  }

.contact-info a {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    header {
        justify-content: left;
        background-position: 30%;
    }
    .hero {
        background-position: 30%;
    }
    .about-me {
        width: 45%;
    }
    .contact-info h3 {
        width: 50%;
        margin: 0 auto 10px auto;
    }
    .contact-elements {
        display: block;
        align-items: center;
    }
    
}
