:root {
    --primary-color: #b0b1b5;
    --secondary-color: #4a4b4f;
    --tertiary-color: #8a6056;
}

* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

body {
    color: var(--secondary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header start */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: 2px -3px 4px rgba(74, 75, 79, .75);
}

header nav {
    margin: 15px 0;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}
/* header end */

/* footer */
footer {
    background: var(--tertiary-color);
    font-size: 15px;
    margin: 0;
}

footer h2{
    text-align: center;
    color: var(--secondary-color);
}
footer img {
    width: 100px;
    margin: 10px auto 0px auto;
    padding: 0 0 15px;
    display: block;
}
/* end footer */

.hero {
    background-image: url("../images/jordanHankison.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-me {
    width: 35%;
    margin: 4%;
}

.about-me h2 {
    border-bottom: 2px solid var(--secondary-color);
    font-size: 30px;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 60%;
}

.about-me p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 1.3;
}

.section-title {
    font-size: 50px;
    text-align: center;
    margin: 15px 0 8px 0;
    color: var(--secondary-color);
    width: 80%;
    padding: 20px;
}

.portfolio {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 4px solid var(--secondary-color);
}

.project {
    margin: 20px;
    color: var(--secondary-color);
    width: 40%;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
}
.project a {
    text-decoration: none;
    color: var(--secondary-color);
}
.project img {
    border-radius: 30px;
    border: 4px solid var(--secondary-color);
}

#capstoneProject {
    width: 80%;
    /* margin: 0; */
}

#capstoneProject a {
    text-align: center;
    font-size: 30px;
}

#capstoneProject img {
    width: 100%;
}

.contact-info {
    background-color: var(--tertiary-color);
    text-align: center;
    color: var(--secondary-color);
}

